@model AIM.Models.ProfileAccess

@{
    ViewData["Title"] = "Edit"; Layout = null;
}

<h1>Edit</h1>

<h4>ProfileAccess</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProfileId" />
            <input type="hidden" asp-for="ModuleId" />
            <div class="form-group">
                <label asp-for="OpenAccess" class="control-label"></label>
                <input asp-for="OpenAccess" class="form-control" />
                <span asp-validation-for="OpenAccess" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCreated" class="control-label"></label>
                <select asp-for="UserCreated" class="form-control" asp-items="ViewBag.UserCreated"></select>
                <span asp-validation-for="UserCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDtCreated" class="control-label"></label>
                <input asp-for="UserDtCreated" class="form-control" />
                <span asp-validation-for="UserDtCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserUpdated" class="control-label"></label>
                <select asp-for="UserUpdated" class="form-control" asp-items="ViewBag.UserUpdated"></select>
                <span asp-validation-for="UserUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDtUpdated" class="control-label"></label>
                <input asp-for="UserDtUpdated" class="form-control" />
                <span asp-validation-for="UserDtUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
