@model AIM.Models.AuthMethod

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AuthMethod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuthName" class="control-label"></label>
                <input asp-for="AuthName" class="form-control" />
                <span asp-validation-for="AuthName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthStatus" class="control-label"></label>
                <select asp-for="AuthStatus" class ="form-control" asp-items="ViewBag.AuthStatus"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="AuthCreatedBy" class="control-label"></label>
                <select asp-for="AuthCreatedBy" class ="form-control" asp-items="ViewBag.AuthCreatedBy"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="AuthCreatedDt" class="control-label"></label>
                <input asp-for="AuthCreatedDt" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" />
                <span asp-validation-for="AuthCreatedDt" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="AuthUpdatedBy" class="control-label"></label>
                <select asp-for="AuthUpdatedBy" class ="form-control" asp-items="ViewBag.AuthUpdatedBy"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="AuthUpdatedDt" class="control-label"></label>
                <input asp-for="AuthUpdatedDt" class="form-control" />
                <span asp-validation-for="AuthUpdatedDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
