@model AIM.Models.Profile

@{
    ViewData["Title"] = "Create"; Layout = null;
}

<h1>Create</h1>

<h4>Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProfileName" class="control-label">Name</label>
                <input asp-for="ProfileName" class="form-control" />
                <span asp-validation-for="ProfileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileDescription" class="control-label">Description</label>
                <input asp-for="ProfileDescription" class="form-control" />
                <span asp-validation-for="ProfileDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileStatus" class="control-label">Status</label>
                <select asp-for="ProfileStatus" class ="form-control" asp-items="ViewBag.ProfileStatus"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ProfileCreated" class="control-label"></label>
                <select asp-for="ProfileCreated" class ="form-control" asp-items="ViewBag.ProfileCreated"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ProfileDtCreated" class="control-label"></label>
                <input asp-for="ProfileDtCreated" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" />
                <span asp-validation-for="ProfileDtCreated" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ProfileUpdated" class="control-label"></label>
                <select asp-for="ProfileUpdated" class ="form-control" asp-items="ViewBag.ProfileUpdated"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ProfileDtUpdated" class="control-label"></label>
                <input asp-for="ProfileDtUpdated" class="form-control" />
                <span asp-validation-for="ProfileDtUpdated" class="text-danger"></span>
            </div>
            <div class="form-group d-flex gap-3 align-items-baseline">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class ="btn btn-secondary">Back</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
