@model AIM.Models.Module

@{
    ViewData["Title"] = "Create"; Layout = null;
}

<h1>Create</h1>

<h4>Module</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModuleTitle" class="control-label"></label>
                <input asp-for="ModuleTitle" class="form-control" />
                <span asp-validation-for="ModuleTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModuleCategory" class="control-label"></label>
                <select asp-for="ModuleCategory" class ="form-control" asp-items="ViewBag.ModuleCategory"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ModuleDtCreated" class="control-label"></label>
                <input asp-for="ModuleDtCreated" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")">
                <span asp-validation-for="ModuleDtCreated" class="text-danger"></span>

            </div>
            <div class="form-group" hidden>
                <label asp-for="ModuleCreated" class="control-label"></label>
                <select asp-for="ModuleCreated" class="form-control" asp-items="ViewBag.ModuleCreated"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ModuleStatus" class="control-label"></label>
                <select asp-for="ModuleStatus" class ="form-control" asp-items="ViewBag.ModuleStatus"></select>
            </div>
         
          
          
            <div class="form-group d-flex gap-3 align-items-baseline">
                <input type="submit" value="Create" class="btn btn-primary" />

                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
